<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>853012084257-kc3a9bjpsaj46tfi96dmmc075d3p7ig2.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.853012084257-kc3a9bjpsaj46tfi96dmmc075d3p7ig2</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
